<!DOCTYPE html>
<% include partials/_header %>
<html lang="en">
  <head>
    <title>Tiny App -- <%= user_ID %>'s URL LIBRARY</title>
  </head>
  <body>

    <h2><%= user_ID %>'s URL LIBRARY</h2>

    <form method="GET" action="/urls/new">
        <label for="new"> add a new URL: </label>
        <button>GO</button>
      </form>

    <ul>
      <% for (var key in urls) { %>
        <li> shortURL:
          <%= key %> longURL: %>
          <%= urls[key].longURL %>
          <form method="POST" action="/urls/<%= key %>/delete">
            <button>DELETE &#x1f5d1 </button>
          </form>
          <form method="GET" action="/urls/<%= key %>">
            <button> EDIT </button>
          </form>
        </li>
      <% } %>
    </ul>
  </body>
</html>